<div class="mt-4">
    <form method="post" action=''>
        <div class="form-group">
            <label for="seach-input">tu khoa</label>
            <input type="text" name='q' class="form-control" id="seach-input" placeholder="nhap tu khoa">
        </div>

        <div class="form-group">
            <label for="seach-input">tu khoa</label>
            <select type="text" name='gender' class="form-control" id="seach-input">
                <option>-- lựa chọn --</option>
                <option value="male">nam</option>
                <option value="female">nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">tim kiem</button>
    </form>
</div>